<a href="https://colab.research.google.com/github/Vputri/Pemodelan_Simulasi/blob/main/Tugas7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KEDATANGAN

In [1]:
ta = []
n = 10
for i in range(n):
  if i == 0:
    hasil = 0.5
  else:
    hasil += 0.5
  ta.append(hasil)

In [2]:
fa = [2, 4, 9, 22, 24, 16, 11, 6, 4, 2]
pa = []
pakum = []
bagi = sum(fa)
for i in range(len(fa)):
  hasil = fa[i]/bagi
  pa.append(hasil)
  result =sum(pa) 
  pakum.append(result)

In [3]:
import numpy as np
inta = []
for i in range(len(pakum)):
  if i==0:
    result = list((0.0, pakum[i]-0.00000000000000001))
  elif i > 0:
    result = list((pakum[i-1], pakum[i]-0.000000000000001))
  inta.append(result)

In [4]:
import pandas as pd
d = {'ta':ta,'pa':pa,'pakum':pakum, 'inta (awal, akhir)':inta}
df1 = pd.DataFrame(d)
df1

    ta    pa  pakum          inta (awal, akhir)
0  0.5  0.02   0.02  [0.0, 0.01999999999999999]
1  1.0  0.04   0.06   [0.02, 0.059999999999999]
2  1.5  0.09   0.15   [0.06, 0.149999999999999]
3  2.0  0.22   0.37   [0.15, 0.369999999999999]
4  2.5  0.24   0.61   [0.37, 0.609999999999999]
5  3.0  0.16   0.77   [0.61, 0.769999999999999]
6  3.5  0.11   0.88   [0.77, 0.879999999999999]
7  4.0  0.06   0.94   [0.88, 0.939999999999999]
8  4.5  0.04   0.98   [0.94, 0.979999999999999]
9  5.0  0.02   1.00   [0.98, 0.999999999999999]

# SERVICE

In [5]:
ts = []
n = 6
for i in range(n):
  if i == 0:
    hasil = 0.5
  else:
    hasil += 0.5
  ts.append(hasil)

In [6]:
fs = [8, 20, 35, 21, 10, 6]
ps = []
skum = []
bagi = sum(fs)
for i in range(len(fs)):
  hasil = fs[i]/bagi
  ps.append(hasil)
  result =sum(ps) 
  skum.append(result)

In [7]:
ints = []
for i in range(len(skum)):
  if i==0:
    result = list((0.0, skum[i]-0.00000000000000001))
  elif i > 0:
    result = list((skum[i-1], skum[i]-0.000000000000001))
  ints.append(result)

In [8]:
d = {'ts':ts,'ps':ps,'skum':skum, 'ints (Awal, Akhir)':ints}
df2 = pd.DataFrame(d)
df2

    ts    ps  skum          ints (Awal, Akhir)
0  0.5  0.08  0.08  [0.0, 0.07999999999999999]
1  1.0  0.20  0.28   [0.08, 0.279999999999999]
2  1.5  0.35  0.63   [0.28, 0.629999999999999]
3  2.0  0.21  0.84   [0.63, 0.839999999999999]
4  2.5  0.10  0.94   [0.84, 0.939999999999999]
5  3.0  0.06  1.00   [0.94, 0.999999999999999]

# PELAYANAN

In [9]:
pelanggan = []
n = 31
for i in range(1, n+1):
  hasil = i
  pelanggan.append(hasil)

In [10]:
def random(a, m, c, x0, n):
	x = []
	x.append(x0)
	for i in range(n):
		rand = (a * x[i] + c) % m
		x.append(rand)
	return x

In [11]:
a = 7
m = 99
c = 6
x0 = 3
n = 30
xi = random(a, m, c, x0, n)
bil = [(i/m) for i in xi]

In [12]:
ta_hasil = []
for i in bil:
  if i < pakum[0]:
    result = ta[0]
  elif i > pakum[0] and i < pakum[1]:
    result = ta[1]
  elif i > pakum[1] and i < pakum[2]:
    result = ta[2]
  elif i > pakum[2] and i < pakum[3]:
    result = ta[3]
  elif i > pakum[3] and i < pakum[4]:
    result = ta[4]
  elif i > pakum[4] and i < pakum[5]:
    result = ta[5]
  elif i > pakum[5] and i < pakum[6]:
    result = ta[6]
  elif i > pakum[6] and i < pakum[7]:
    result = ta[7]
  elif i > pakum[7] and i < pakum[8]:
    result = ta[8]
  elif i > pakum[8] and i < pakum[9]:
    result = ta[9]
  ta_hasil.append(result)

In [13]:
wd = []
jam = 10
menit = 0
detik = 0
for i in ta_hasil:
  jam = jam
  a = i//1
  menit = menit + a
  b = (i% 1) * 10
  detik = detik + b
  if menit >= 60 :
    jam = jam + 1
    menit = menit - 60
  if detik >= 60 :
    menit = menit + 1
    detik = detik -60
  result_wd = "%d:%02d:%02d" % (jam, menit, detik) 
  wd.append(result_wd)

In [14]:
wp = ['10:01:00', '10:03:00', '10:07:05', '10:10:10', '10:10:15', '10:11:20', '10:13:25', '10:15:30', '10:17:30', '10:20:30', '10:22:30', 
      '10:24:35', '10:26:35', '10:28:35', '10:30:35', '10:32:40', '10:35:45', '10:38:50', '10:41:00', '10:42:05', '10:45:05', '10:49:05',
      '10:52:05', '10:54:10', '10:57:10', '11:00:10', '11:02:10', '11:03:15', '11:07:15', '11:09:25', '11:10:30']
tmp = []
for i in range(len(wd)): 
    if wd[i] in wp: 
      p = 0
    else:
      for j in range(len(wp)):
        j = i
        a = wp[j]
        (h, m, s) = a.split(':')

        c = int(h) * 3600 + int(m) * 60 + int(s)
        b = wd[i]
        (h, m, s) = b.split(':')
        d = int(h) * 3600 + int(m) * 60 + int(s)
        p = c - d
    tmp.append(p)

In [15]:
PA = []
WT = []
for i in range(len(tmp)):
  if tmp[i] == 0 :
    hasil_pa = 0
    hasil_wt = 0
  else:
    if tmp[i] == tmp[i-1]:
      hasil_pa = 0
      hasil_wt = 0
    else:
      hasil_pa = 1
      hasil_wt = tmp[i]-tmp[i-1]
  PA.append(hasil_pa)
  WT.append(hasil_wt)

In [16]:
d = {'Pelanggan':pelanggan,'Bilangan Acak':bil,'ta':ta_hasil,'Waktu Datang':wd, "Waktu Pelayanan":wp, "Panjang Antrean":PA, "Waktu Tunggu":WT}
df4= pd.DataFrame(d)
df4

    Pelanggan  Bilangan Acak  ...  Panjang Antrean Waktu Tunggu
0           1       0.030303  ...                0            0
1           2       0.272727  ...                0            0
2           3       0.969697  ...                0            0
3           4       0.848485  ...                0            0
4           5       0.000000  ...                0            0
5           6       0.060606  ...                0            0
6           7       0.484848  ...                0            0
7           8       0.454545  ...                0            0
8           9       0.242424  ...                0            0
9          10       0.757576  ...                0            0
10         11       0.363636  ...                0            0
11         12       0.606061  ...                0            0
12         13       0.303030  ...                0            0
13         14       0.181818  ...                0            0
14         15       0.333333  ...                0            0
15         16       0.393939  ...                0            0
16         17       0.818182  ...                0            0
17         18       0.787879  ...                0            0
18         19       0.575758  ...                1            5
19         20       0.090909  ...                0            0
20         21       0.696970  ...                0            0
21         22       0.939394  ...                0            0
22         23       0.636364  ...                0            0
23         24       0.515152  ...                0            0
24         25       0.666667  ...                0            0
25         26       0.727273  ...                0            0
26         27       0.151515  ...                0            0
27         28       0.121212  ...                0            0
28         29       0.909091  ...                0            0
29         30       0.424242  ...                1            5
30         31       0.030303  ...                1            5

[31 rows x 7 columns]

In [17]:
def random(a, m, c, x0, n):
	x = []
	x.append(x0)
	for i in range(n):
		rand = (a * x[i] + c) % m
		x.append(rand)
	return x

In [18]:
a = 2
m = 33
c = 8
x0 = 7
n = 30
xi = random(a, m, c, x0, n)
bilcak = [(i/m) for i in xi]

In [19]:
ts_hasil = []
for i in bilcak:
  if i < skum[0]:
    result1 = ts[0]
  elif i > skum[0] and i < skum[1]:
    result1 = ts[1]
  elif i > skum[1] and i < skum[2]:
    result1 = ts[2]
  elif i > skum[2] and i < skum[3]:
    result1 = ts[3]
  elif i > skum[3] and i < skum[4]:
    result1 = ts[4]
  elif i > skum[4] and i < skum[5]:
    result1 = ts[5]
  ts_hasil.append(result1)

In [20]:
import time 
wap = []
wap1 = []
jam1 = 0
for k in range(len(ts_hasil)):
  jam1 = jam1
  menit1 = ts_hasil[k]//1
  detik1 = (ts_hasil[k] % 1) * 10
  result2 = "%d:%02d:%02d" % (jam1, menit1, detik1)
  wapp = int(jam1) * 3600 + int(menit1) * 60 + int(detik1)
  for l in range(len(wd)):
    l = k 
    a1 = wd[l]
    (h, m, s) = a1.split(':')
    wdd = int(h) * 3600 + int(m) * 60 + int(s)
    jum = wdd + wapp
  h = time.strftime('%H:%M:%S', time.gmtime(jum))
  wap.append(h)
  wap1.append(result2)

In [21]:
WL = []
for n in range(len(ts_hasil)):
  if n == 0:
    hazil = ta_hasil[0]
  else:
    hazil = ta_hasil[n] - ts_hasil[n-1]
    if hazil < 0 :
      hazil = 0
  WL.append(hazil)

In [22]:
d = {'Bilangan Acak':bilcak,'ts':ts_hasil, 'Waktu Akhir Pelayanan':wap, 'WAKTU LUANG':WL}
df5 = pd.DataFrame(d)
df5

    Bilangan Acak   ts Waktu Akhir Pelayanan  WAKTU LUANG
0        0.212121  1.0              10:02:00          1.0
1        0.666667  2.0              10:05:00          1.0
2        0.575758  1.5              10:08:10          2.5
3        0.393939  1.5              10:11:15          2.0
4        0.030303  0.5              10:10:20          0.0
5        0.303030  1.5              10:12:25          1.0
6        0.848485  2.5              10:15:30          1.0
7        0.939394  2.5              10:17:35          0.0
8        0.121212  1.0              10:18:30          0.0
9        0.484848  1.5              10:21:35          2.0
10       0.212121  1.0              10:23:30          0.5
11       0.666667  2.0              10:26:35          1.5
12       0.575758  1.5              10:27:40          0.0
13       0.393939  1.5              10:29:40          0.5
14       0.030303  0.5              10:30:40          0.5
15       0.303030  1.5              10:33:45          2.0
16       0.848485  2.5              10:37:50          2.0
17       0.939394  2.5              10:40:55          1.0
18       0.121212  1.0              10:41:55          0.0
19       0.484848  1.5              10:43:05          0.5
20       0.212121  1.0              10:46:00          1.5
21       0.666667  2.0              10:51:00          3.0
22       0.575758  1.5              10:53:05          1.0
23       0.393939  1.5              10:55:10          1.0
24       0.030303  0.5              10:57:10          1.5
25       0.303030  1.5              11:01:10          2.5
26       0.848485  2.5              11:04:10          0.5
27       0.939394  2.5              11:05:15          0.0
28       0.121212  1.0              11:08:10          1.5
29       0.484848  1.5              11:10:20          1.5
30       0.212121  1.0              11:11:15          0.0

# HASIL

In [23]:
d = {'Pelanggan':pelanggan,'Bilangan Acak':bil,'ta':ta_hasil,'Waktu Datang':wd, "Waktu Pelayanan":wp, "Panjang Antrean":PA, "Waktu Tunggu":WT, 'Bilangan Acak':bilcak,'ts':ts_hasil, 'Waktu Akhir Pelayanan':wap, 'WAKTU LUANG':WL}
df6 = pd.DataFrame(d)
df6

    Pelanggan  Bilangan Acak   ta  ...   ts Waktu Akhir Pelayanan  WAKTU LUANG
0           1       0.212121  1.0  ...  1.0              10:02:00          1.0
1           2       0.666667  2.0  ...  2.0              10:05:00          1.0
2           3       0.575758  4.5  ...  1.5              10:08:10          2.5
3           4       0.393939  3.5  ...  1.5              10:11:15          2.0
4           5       0.030303  0.5  ...  0.5              10:10:20          0.0
5           6       0.303030  1.5  ...  1.5              10:12:25          1.0
6           7       0.848485  2.5  ...  2.5              10:15:30          1.0
7           8       0.939394  2.5  ...  2.5              10:17:35          0.0
8           9       0.121212  2.0  ...  1.0              10:18:30          0.0
9          10       0.484848  3.0  ...  1.5              10:21:35          2.0
10         11       0.212121  2.0  ...  1.0              10:23:30          0.5
11         12       0.666667  2.5  ...  2.0              10:26:35          1.5
12         13       0.575758  2.0  ...  1.5              10:27:40          0.0
13         14       0.393939  2.0  ...  1.5              10:29:40          0.5
14         15       0.030303  2.0  ...  0.5              10:30:40          0.5
15         16       0.303030  2.5  ...  1.5              10:33:45          2.0
16         17       0.848485  3.5  ...  2.5              10:37:50          2.0
17         18       0.939394  3.5  ...  2.5              10:40:55          1.0
18         19       0.121212  2.5  ...  1.0              10:41:55          0.0
19         20       0.484848  1.5  ...  1.5              10:43:05          0.5
20         21       0.212121  3.0  ...  1.0              10:46:00          1.5
21         22       0.666667  4.0  ...  2.0              10:51:00          3.0
22         23       0.575758  3.0  ...  1.5              10:53:05          1.0
23         24       0.393939  2.5  ...  1.5              10:55:10          1.0
24         25       0.030303  3.0  ...  0.5              10:57:10          1.5
25         26       0.303030  3.0  ...  1.5              11:01:10          2.5
26         27       0.848485  2.0  ...  2.5              11:04:10          0.5
27         28       0.939394  1.5  ...  2.5              11:05:15          0.0
28         29       0.121212  4.0  ...  1.0              11:08:10          1.5
29         30       0.484848  2.5  ...  1.5              11:10:20          1.5
30         31       0.212121  1.0  ...  1.0              11:11:15          0.0

[31 rows x 10 columns]

[Link File di Github Klik disini](https://github.com/Vputri/Pemodelan_Simulasi/blob/main/Tugas7.ipynb)